<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href={{ url_for('static',
    filename='./index.css')}}/>
    <title>URL Shortener| {% block title %}{% endblock %}</title>
    {% block head%} {% endblock %}
  </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/stats">Stats</a></li>
      </ul>
    </div>
  </nav>
    {% block content %}
        <h1>Are your URLS too long?</h1>
    <p>Shorten your URLs with Robyn and Trina 💛</p>
    <form method="POST" action="{{ url_for('short.add_link') }}">
      <input
        class="input"
        type="text"
        name="original_url"
        placeholder="Paste your URL"
        required
      />
      <br/>
      <input type="submit" />
    </form>
    {% endblock %}
  </body>
</html>
